@model IEnumerable<HealthcareManagementSystem.Models.Member>

<p>
    <a href="/Admin/AddMember" class="btn btn-info mb-2"><i class="fa fa-user-plus"></i> Add New Member</a>
</p>
<table class="table-responsive-lg">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mother)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Child1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Child2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
@{
    if (Model!=null)
    {

        foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mother)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Father)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Child2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Opno }) |
                @Html.ActionLink("Details", "Details", new { id=item.Opno }) |
            </td>
        </tr>
        }
    }

}

</table>
