@model IEnumerable<HealthcareManagementSystem.Models.Member>

<p>
    <a href="/Admin/AddMember" class="btn btn-info mb-2"><i class="fa fa-user-plus"></i> Add New Member</a>
</p>
<div class="table-responsive">
    <table class="table table-striped text-center text-dark">
        <thead class="thead-light bg-transparent">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Mother)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Father)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <tr class="table-info">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mother)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Father)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                <a href="/Admin/EditMember/@item.Opno" class="btn-warning btn-sm"><i class="fa fa-edit"></i> Edit</a>
                                <a href="/Admin/ViewMember/@item.Opno" class="btn-primary btn-sm"><i class="fa fa-list"></i> Details</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>

    </table>
</div>