@model HealthcareManagementSystem.Models.Member
<style>
    #detailcard{
        color:black;
    }
    .card-header{
        font-size:1.3rem;
    }
</style>
    <h4>Member Profile</h4>
<div class="card w-75 p-3" id="detailcard">
    <div class="dl-horizontal">
        <div class="card-header font-weight-bold">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="card-body">
        <table>
            <thead>
                <td>
                    abcd
                </td>
            </thead>
            <div>
                <b>@Html.DisplayNameFor(model => model.Department)</b>:@Html.DisplayFor(model => model.Department)
            </div>
            <b>@Html.DisplayNameFor(model => model.Age)</b>:@Html.DisplayFor(model => model.Age)</div>
            <b>@Html.DisplayNameFor(model => model.Gender)</b>:@Html.DisplayFor(model => model.Gender)
            <b>@Html.DisplayNameFor(model => model.Address)</b>:@Html.DisplayFor(model => model.Address)
            <b>@Html.DisplayNameFor(model => model.Mother)</b>:@Html.DisplayFor(model => model.Mother)
            <b>@Html.DisplayNameFor(model => model.Father)</b>:@Html.DisplayFor(model => model.Father)
            <b>@Html.DisplayNameFor(model => model.Spouse)</b>:@Html.DisplayFor(model => model.Spouse)
            <b>@Html.DisplayNameFor(model => model.Child1)</b>:@Html.DisplayFor(model => model.Child1)
            <b>@Html.DisplayNameFor(model => model.Child2)</b>:@Html.DisplayFor(model => model.Child2)
            <b>@Html.DisplayNameFor(model => model.Type)</b>:@Html.DisplayFor(model => model.Type)
            <b>@Html.DisplayNameFor(model => model.Child2)</b>:@Html.DisplayFor(model => model.Child2)
        </table>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "EditMember", new { id = Model.Opno }) |
</p>
