@model HealthcareManagementSystem.Models.Member
<style>
    #detailcard{
        color:black;
    }
    .table {
        background-color: rgba(32,178,170,0.2);
    }
    .card-header{
        font-size:1.3rem;
    }
    .table td, .table th {
        padding:5px;
        margin-left:10px;
        padding-left:10vw;
    }
    
</style>
    <a href="/Admin" class="btn btn-outline-info mb-1"><i class="fa fa-backward"></i>Go back</a>
    <div class="card p-3 col-sm-12" id="detailcard">
        <div class="card-header font-weight-bold">
            <span class="fa fa-user-circle" ></span>
            @Html.DisplayFor(model => model.Name)
            <span class="float-right">
                @if (Model.Type == "Employee")
                {
                    <i class="badge badge-info text-monospace">Employee</i>
                }
                else
                {
                    <i class="badge badge-primary text-monospace">Student</i>
                }
                <a href="/Admin/EditMember/@Model.Opno" class="btn-warning btn-sm"><i class="fa fa-edit"></i> Edit</a>
            </span>
        </div>
        <div class="card-body p-0">
            <table class="table table-responsive-sm justify-content-md-center table-striped table-borderless">
                <tbody>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Department)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Age)
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Gender)</th>
                        <td>@Html.DisplayFor(model => model.Gender)</td>

                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Address)</th>
                        <td>@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Mother)</th>
                        <td>@Html.DisplayFor(model => model.Mother)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Father)</th>
                        <td>@Html.DisplayFor(model => model.Father)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Spouse)</th>
                        <td>@Html.DisplayFor(model => model.Spouse)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Child1)</th>
                        <td>@Html.DisplayFor(model => model.Child1)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Child2)</th>
                        <td>@Html.DisplayFor(model => model.Child2)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

