@model IEnumerable<HealthcareManagementSystem.Models.DrugHouse>

@{
    ViewBag.Title = "AddStock";
}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    input {
        background-color: transparent;
    }
</style>
@{
    if (ViewBag.Status != null)
    {
        
        <div class="alert alert-@ViewBag.Status alert-dismissible fade show w-50" role="alert">
            @ViewBag.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<h3 class="toast-header">DrugHouse Stock List</h3>
<div class="table-responsive">
    <table class="table table-striped text-center text-dark">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    No
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ManufactureDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th scope="col">
                    @Html.DisplayName("Available Stocks")
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)/qty
                </th>
                <th>Add to Pharmacy</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        i++;
                        <tr class="table-info">
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ManufactureDate.Month)/@Html.DisplayFor(modelItem => item.ManufactureDate.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate.Month)/@Html.DisplayFor(modelItem => item.ExpiryDate.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StockLeft)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @using (Html.BeginForm("AddStock", "Pharmacy", FormMethod.Post, new { @class = "form-row" }))
                                {
                                    int min = 1;
                                    int max = item.StockLeft;
                                    if(item.ExpiryDate<(DateTime.Now.AddMonths(2)))
                                    {
                                        min = 2;
                                        max = 5;
                                    }
                                    <div class="col-5 text-right">Qty: </div>
                                    <div class="input-group col-6">
                                        @Html.TextBox("Itemno", "2", new { @class = "form-control-sm col-sm-3", @type = "number", @min = min ,@max=max})
                                        @Html.Hidden("DrugId", @item.DrugId)
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" title="Add To Pharmacy"><i class="fa fa-download"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>

    </table>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>