@model IEnumerable<HealthcareManagementSystem.Models.Pharmastock>

@{
    ViewBag.Title = "ViewPharmacy";
}

<h2>ViewPharmacy</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DrugHouses.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stockleft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dateadded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugHouses.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stockleft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateadded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PharmId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PharmId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PharmId })
            </td>
        </tr>
    }

</table>

