@model IEnumerable<HealthcareManagementSystem.Models.Patient>

@{
    ViewBag.Title = "ViewReport";
}

<h2>ViewReport</h2>
<div class="table-responsive">
    <table class="table table-striped text-center text-dark">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    Op Member Name
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PatientName)
                </th>
                <th scope="col">
                    Medicine/Test Name
                </th>
                <th scope="col">
                    Quantity/NoOfDays
                </th>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Total Amount
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            
                {
                foreach (var medicine in item.Pharmacies)
                {
                <tr class="table-info">
                    <td>
                        @Html.DisplayFor(modelItem => item.Members.Name)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @medicine.Quantity
                </td>
                <td>
                    @medicine.Price
                </td>
                <td>
                    @medicine.Date.ToShortDateString()
                </td>
                <td>
                    @medicine.TotalAmount
                </td>
                </tr>
                }
                foreach (var service in item.Services)
                {
                    <tr class="table-info">
                     <td>
                        @Html.DisplayFor(modelItem => item.Members.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientName)
                    </td>
                    <td>
                        @service.TestName
                    </td>
                    <td>
                        @service.Quantity
                    </td>
                    <td>
                        @service.Date.ToShortDateString()
                    </td>
                    <td>
                        @service.TotalAmount
                    </td>
                    </tr>
                }
        }

            </tbody>

        </table>
    </div>