@model IEnumerable<HealthcareManagementSystem.Models.Pharmacy>


<div class="table-responsive">
    <table class="table table-striped text-center text-dark">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Patients.PatientName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="table-info">
                            <td>
                                @Html.DisplayFor(modelItem => item.Patients.PatientName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                    }
                }
            </tbody>
            </table>
    </div>
