@model HealthcareManagementSystem.Models.User


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @{
        if (ViewBag.Status != null)
        {
            <div class="alert alert-@ViewBag.Status alert-dismissible fade show w-50" role="alert">
                @ViewBag.Message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    <h5>Change Your Password</h5>
    <div class="text-danger font-weight-bolder ">
        This action can't be undone
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Password, "New Password")
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter new Password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Confirmpassword)
        @Html.EditorFor(model => model.Confirmpassword, new { htmlAttributes = new { @class = "form-control" ,@placeholder="Re-Type Password"} })
        @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-4">
        <input type="submit" value="Change" class="btn btn-outline-danger" />
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
