@model HealthcareManagementSystem.Models.Patient

@{
    ViewBag.Title = "PatientDetails";
}

    @Html.ActionLink(" Goback", "ViewPatient", "Home", null, new { @class= "btn btn-info btn-sm fa fa-step-backward mb-2" })
<div class="card bg-info p-3 ">
    <div class="card-header text-left">
        <img src="~/Images/Logo.jpg" height="30px" style="border-radius:50%;border:2px solid white;" /> <span style="font-family: 'Righteous', cursive;">CLINIC RELIEF </span>
        <span style="float:right;">
            Bill Summary
        </span>
    </div>
    <p style="text-align:left;" class="mt-1">
        <span class="h5">@Html.DisplayFor(model => model.PatientName)</span>
        <span style="float:right;">
            Date : @Html.DisplayFor(model => model.Date)<br />
            Doctor : Dr.@Html.DisplayFor(model => model.DoctorName)
        </span>
        <br />
        Type : @Html.DisplayFor(model => model.Type)
    </p>

    <div class="text-black-50 w-25 justify-content-center">
        <p>
            Disease : @Html.DisplayFor(model => model.Disease)
        </p>
        <p>
        </p>

        <p>
            Opno Owner : @Html.DisplayFor(model => model.Members.Name)
        </p>
    </div>
    <!--Table for showing the medicines bought by the patient-->
    <div class="table-responsive-sm mt-2">
        <strong>Medicine Summary</strong>
        <table class="table table-striped table-sm small">
            <thead class="thead">
                <tr>
                    <th>
                        Medicine Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        TotalAmount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pharmacies)
                {

                    <tr class="table-info">
                        <td>
                            @item.Pharmastocks.DrugHouses.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Date.ToShortDateString()
                        </td>
                        <td>
                            @item.TotalAmount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Table for viewing all the services of the patient-->
    <div class="table-responsive">
        <strong>Test Summary</strong>
        <table class="table table-striped table-sm small">
            <thead class="thead">
                <tr>
                    <th>
                        Test Name
                    </th>
                    <th>
                        Quantity/NoofDays
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        TotalAmount
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Services)
                {
                    <tr class="table-info">
                        <td>
                            @item.TestName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.TotalAmount
                        </td>
                        <td>
                            @item.Date
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p class="font-weight-bolder text-right mr-4">Grand Total : @Html.DisplayFor(model => model.BillAmount)</p>
</div>
