@model HealthcareManagementSystem.Models.Patient

@{
    ViewBag.Title = "PatientDetails";
}

<h2>PatientDetails</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Members.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
    <!--Table for showing the medicines bought by the patient-->
    <table>
        <tr>
            <th>
                Medicine Name
            </th>
            <th>
                Date
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                TotalAmount
            </th>
        </tr>
        @foreach (var item in Model.Pharmacies)
        {
            
                <tr>
                    <td>
                        @Html.Display(item.Pharmastocks.DrugHouses.Name)
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @Html.Display(item.Price.ToString())
                    </td>
                    <td>
                        @Html.Display(item.Date.ToString())
                    </td>
                    <td>@{double totalamount = item.Quantity * item.Price;} @totalamount</td>
                </tr>
        }
    </table>
    <!--Table for viewing all the services of the patient-->
            <table>
                <tr>
                    <th>
                        Test Name
                    </th>
                    <th>
                        Quantity/NoofDays
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        TotalAmount
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
        @foreach (var item in Model.Services)
        {
                <tr>

                    <th>
                        @Html.Display(item.TestName)
                    </th>
                    <th>
                        @item.Quantity
                    </th>
                    <th>
                        @item.Price
                    </th>
                    <th>
                        @item.TotalAmount
                    </th>
                    <th>
                        @item.Date
                    </th>
                </tr>
        }
            </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
