@model HealthcareManagementSystem.Models.Patient

@{
    ViewBag.Title = "PatientDetails";
}

    <hr />
<ul class="card text-black-50 w-25">
    <h3 class="card-title">
        @Html.DisplayFor(model => model.PatientName)
    </h3>
    <li>
        Type : @Html.DisplayFor(model => model.Type)
    </li>
    <li>
        Doctor Name : @Html.DisplayFor(model => model.DoctorName)
    </li>
    <li>
        Disease : @Html.DisplayFor(model => model.Disease)
    </li>
    <li>
        Bill Amount : @Html.DisplayFor(model => model.BillAmount)
    </li>
    <li>
        Date : @Html.DisplayFor(model => model.Date)
    </li>
    <li>
        Opno Owner : @Html.DisplayFor(model => model.Members.Name)
    </li>
</ul>
    <!--Table for showing the medicines bought by the patient-->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-light">
                <tr>
                    <th>
                        Medicine Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        TotalAmount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pharmacies)
                {

                    <tr class="table-info">
                        <td>
                            @item.Pharmastocks.DrugHouses.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price.ToString()
                        </td>
                        <td>
                            @item.Date.ToString()
                        </td>
                        <td>@{double totalamount = item.Quantity * item.Price;} @totalamount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Table for viewing all the services of the patient-->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-light">
                <tr>
                    <th>
                        Test Name
                    </th>
                    <th>
                        Quantity/NoofDays
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        TotalAmount
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Services)
                {
                    <tr class="table-info">
                        <td>
                            @item.TestName
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.TotalAmount
                        </td>
                        <td>
                            @item.Date
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
