@model HealthcareManagementSystem.Models.Patient

@{
    ViewBag.Title = "PatientDetails";
}

    @Html.ActionLink(" Goback", "ViewPatient", "Home", null, new { @class= "btn btn-info btn-sm fa fa-step-backward" })
    <hr />
    <div class="card bg-info p-3 ">
        <div class="card-header"><img src="~/Images/Logo.jpg" height="30px" style="border-radius:50%;border:2px solid white" /> CLINIC RELIEF</div>
        <p style="text-align:left;" class="h5">
            @Html.DisplayFor(model => model.PatientName)
            <span style="float:right;">
                Doctor : @Html.DisplayFor(model => model.DoctorName)
            </span>
        </p>
        
        <div class="text-black-50 w-25 justify-content-center">
            <p>
                Type : @Html.DisplayFor(model => model.Type)
            </p>
            <p>
                
            </p>
            <p>
                Disease : @Html.DisplayFor(model => model.Disease)
            </p>
            <p>
                Bill Amount : @Html.DisplayFor(model => model.BillAmount)
            </p>
            <p>
                Date : @Html.DisplayFor(model => model.Date)
            </p>
            <p>
                Opno Owner : @Html.DisplayFor(model => model.Members.Name)
            </p>
        </div>
        <!--Table for showing the medicines bought by the patient-->
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Medicine Name
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            TotalAmount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pharmacies)
                    {

                        <tr class="table-info">
                            <td>
                                @item.Pharmastocks.DrugHouses.Name
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.Price.ToString()
                            </td>
                            <td>
                                @item.Date.ToString()
                            </td>
                            <td>@{double totalamount = item.Quantity * item.Price;} @totalamount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--Table for viewing all the services of the patient-->
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Test Name
                        </th>
                        <th>
                            Quantity/NoofDays
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            TotalAmount
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Services)
                    {
                        <tr class="table-info">
                            <td>
                                @item.TestName
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.TotalAmount
                            </td>
                            <td>
                                @item.Date
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
