@model IEnumerable<HealthcareManagementSystem.Models.Patient>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped text-center text-dark">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Members.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PatientName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DoctorName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Disease)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.BillAmount)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="table-info">
                            <td>
                                @Html.DisplayFor(modelItem => item.Members.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DoctorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Disease)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.ActionLink("Add Service", "AddService", "Home", new { id = item.PId }, new { @class = "btn btn-success btn-sm" }) |
                                @Html.ActionLink("View Details", "Action Name", "Home", new { id = item.PId }, new {@class="btn btn-success btn-sm"}) |
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>


    </table>
</div>