@model IEnumerable<HealthcareManagementSystem.Models.Patient>

<p>
    @Html.ActionLink("AddPatient", "NewPatient", "Home", new { @class = "btn btn-info mb-2" })
</p>
<div class="table-responsive">
    <table class="table table-striped text-center text-dark">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Opno)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PatientName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DoctorName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.BillAmount)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="table-info">
                            <td>
                                @Html.DisplayFor(modelItem => item.Opno)
                            </td>
                            <td>
                                @Html.ActionLink(item.PatientName,"PatientDetails","Home",new { id=item.PId},new { @class="card-link"})
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DoctorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.ActionLink("Add Service", "AddService", "Home", new { id = item.PId }, new { @class = "btn btn-info btn-sm" }) 
                                @Html.ActionLink("Add Medicine", "AddMedicine", "Home", new { id = item.PId }, new {@class="btn btn-success btn-sm"}) 
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>


    </table>
</div>