<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -ClinicRelief </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image:url('/Images/HealthHome.jpg');background-size:cover;">

    @*Rendering Top navigation bar partial view here*@
    @Html.Partial("_TopNav")

    <div>
        <!--We need side navigation only if any user is logged in, so checking is session is null-->
        @if (Session["UserId"] != null)
        {
            <!-- Bootstrap row -->
            <div class="row" id="body-row">
                @Html.Partial("_SideNav")
                <!-- MAIN -->
                <div class="col py-3">

                    @RenderBody()

                </div>
                <!-- Main Col END -->
            </div>
            <!-- body-row END -->

        }
        else
        {
            @RenderBody()
        }
    </div>
        <footer class=" text-center footer">
            <p>
                &copy; @DateTime.Now.Year -Clinic Relief
                ||Stay Home Stay Safe
            </p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
